/* chia bố cục body thành 2 phần */

.main-layout {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.sub-nav {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    padding: 15px 43px ;
    align-items: center; /* Căn chỉnh giữa các phần tử trong sub-nav */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bóng đổ */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-section-2, .main-section-1 {
    margin: 20px;
}

